{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Blog</title>
    <!--Установка Bootstrap-->
    <link rel="stylesheet"
          href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <!--Шрифт Lobster из шрифтов Google-->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic"
          type="text/css">
    <!--Путь к статическому файлу css--->
    <link rel="stylesheet" href="{% static 'authentication/css/style.css' %}" type="text/css">
    <!--Путь к иконке для окна в браузере--->
    <link rel="icon" href="{% static 'authentication/favicon.ico' %}" type="image/x-icon"/>
  </head>
  <body>
    <div class="page-header">
      <h1>My Blog</h1>
    </div>
    {% block content %}
    {% endblock %}
  </body>
</html>