{% load static %}
<html>
  <head>
    <title>My blog</title>
    <link rel="stylesheet"
          href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic"
          type="text/css">
    <link rel="stylesheet" href="{% static 'blog/css/style.css' %}" type="text/css">
    <link rel="icon" href="{% static 'blog/favicon.ico' %}" type="image/x-icon"/>
  </head>
  <body>
    <div class="page-header">
      <a href="{% url 'register_page' %}" class="top-menu">
          <span class="glyphicon glyphicon-log-out">Logout</span>
      </a>
      <a href="{% url 'login_page' %}" class="top-menu">
          <span class="glyphicon glyphicon-user">{{user}}</span>
      </a>
      <a href="{% url 'post_new' %}" class="top-menu">
          <span class="glyphicon glyphicon-save">Post</span>
      </a>
      <h1><a href="{% url 'post_list' %}">My Blog</a></h1>
    </div>
    <div class="content container">
        Новая надпись!!
        <div class="row">
            <div class="col-md-8">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
  </body>
</html>